{% comment %}Edit message{% endcomment %}

{% layout %}{{ layout.dialog }}{% endlayout %}
{% title %}{{ 'message_edit_message' | t }}{% endtitle %}

<form accept-charset="utf-8" onsubmit="hq.postDialog(this);return false" action="{{ 'message_update' | path: message.id }}" method="POST">
  {{ security.forgery_tag }}{{ security.honeypot_captcha }}
  <input type="hidden" name="_method" value="PUT">
  {% include 'message/form' %}
</form>
