{% comment %}Discover category embed layout{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if current_site.disable_responsive != true %}<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">{% endif %}

    {% include 'layout/meta' with layout.meta %}

    <title>{% if layout.title != blank %}{{ layout.title }}{% else %}{{ current_site.name }}{% endif %}{% if current_site.title != blank %} {{ current_site.title_separator }} {{ current_site.title | h }}{% endif %}</title>

    {% include 'layout/head' %}

    <script>
      window.site = {{ current_site.options }};
      window.site.translations = {{ current_site.badge_translations }};
      window.t = function(key) { return window.site.translations[key]};
    </script>

    {{ 'bundle.css' | style_tag }}
    {{ 'icons.css' | style_tag }}

    {% if current_site.has_sidebar? %}
      {{ 'themes/sidebar-campaigns.css' | style_tag }}
    {% endif %}

    {% if current_site.sidebar == 'right' %}
      {{ 'themes/sidebar-right.css' | style_tag }}
    {% endif %}

    {{ 'themes/large-badges.css' | style_tag }}

    {% capture badge_style_path %}themes/badges/{{ current_site.badge_style }}.css{% endcapture %}
    {{ badge_style_path | style_tag }}

    {% if current_site.theme != 'base' %}
      {% capture theme_path %}themes/{{ current_site.theme }}.css{% endcapture %}
      {% if current_site.theme_neue %}{{ 'themes/neue.css' | style_tag }}{% endif %}
      {{ theme_path | style_tag }}
    {% endif %}

    {% if current_site.tab_position == 'above' %}
      {{ 'themes/tabs-above.css' | style_tag }}
    {% endif %}

    {% if current_site.blog_admin != 'disabled' %}
      {{ 'blog.css' | style_tag }}
    {% endif %}

    {% if current_site.disable_responsive != true %}
      {{ 'responsive.css' | style_tag }}
    {% endif %}

    {% if current_site.favicon != blank %}
      <link href="{{ current_site.favicon }}" rel="shortcut icon">
    {% endif %}

    {% for css in current_site.extra_css %}
      {{ css | style_tag }}
    {% endfor %}

    {% include 'layout/libraries' %}

    <style>{% include 'layout/styles' %}</style>

  </head>
  <body class="{{ current_site.classes }} {{ layout.body_class }}">{{ content }}</body>
</html>
