{% comment %}New campaign update{% endcomment %}

{% layout %}{{ layout.dialog }}{% endlayout %}
{% title %}{{ 'campaign_updates_new_title' | t }}{% endtitle %}

<form accept-charset="utf-8" onsubmit="hq.postDialog(this);return false" action="{{ 'update_create' | path: campaign.link }}" method="POST">
  {{ security.forgery_tag }}{{ security.honeypot_captcha }}
  {% include 'update/form' %}
</form>
